// Variables of Muse scheme
// =================================================

$font-family-headings = Georgia, san
$font-size-headings-base = 26px

$font-family-base = "Microsoft YaHei", Verdana, sans-serif

$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace
$font-size-base = 20px
$code-font-size = 16px


$brand-color             = $black-deep
$brand-hover-color       = $brand-color

$site-meta-text-align    = left
$posts-collapse-left     = 0

$read-more-color         = $link-color
$read-more-bg-color      = transparent
